<h1 class="text-center lighter-font">What I learned</h1>
<p class="text-center"> HTML &amp; CSS, JavaScript, Bootstrap</p>
<div class="col-md-12 flex">
	<div class="col-md-3 img-border">
		<center>
			<img src="https://practity.com/en/wp-content/uploads/sites/2/2018/03/html-css-tutorials2.jpg" alt="Girl in a jacket" height="300">
		</center>
		<h1 class="lighter-font">HTML & CSS</h1>
		<p>HTML stands for Hypertext Markup Language.<br>
		It is the standard markup language for Web pages<br><br>

		CSS stands for Cascading Style Sheets.<br>
		It describes how HTML elements are to be displayed</p>
	</div>
	<div class="col-md-3 img-border">
		<center>
			<img src="https://jsreport.io/content/images/2017/11/js-logo-200px.png" alt="Girl in a jacket" height="300">
		</center>
		<h1 class="lighter-font">Javascript</h1>
		<p>This is a paragraph This is a paragraph<br> This is a paragraph This is a paragraph</p>
	</div>
	<div class="col-md-3 img-border">
		<center>
			<img src="https://static.javatpoint.com/bootstrappages/images/bootstrap-tutorial.png" alt="Girl in a jacket" height="300">
		</center>
		<h1 class="lighter-font">Bootstrap</h1>
		<p>Bootstrap is a framework.<br>
		It allow us to create Responsive Webpage.</p>
	</div>
	<div class="col-md-3 img-border">
		<center>
			<img src="https://avatars.githubusercontent.com/u/70142?s=200&v=4" alt="Girl in a jacket" height="300">
		</center>
		<h1 class="lighter-font">jQuery</h1>
		<p>jQuery is write less but do more JavaScript library.<br>
		The purpose of jQuery is to make the work much easier to use JavaScript on your website.</p>
	</div>
</div>